<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
  <div class="background">
    <div class="body-wrapper">
      <div class="contant-wrapper">
        <div class="container">
          <div class="text-content">

            <div class="container">
              <form [formGroup]="form" (ngSubmit)="submitForm()">
                <div class="mb-3">
                  <div class="row">
                    <div class="col">
                      <label class="form-label">Name</label>
                      <input type="text" class="form-control" placeholder="name"  formControlName="name">
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="name@gmail.com" formControlName="email">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" placeholder="8+ characters" formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Create Account</button>
              </form>
            </div>
          </div>
          <app-background></app-background>
        </div>
      </div>
    </div>
