<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
  <div class="body-wrapper">
    <div class="contant-wrapper">
      <div class="container">
        <div class="body-content">
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <div class="text-content">
                  <h1 class="title">
                    The Carrot Chef
                  </h1>
                  <p class="last-title">Meals cater for your needs</p>
                  <a href="" [routerLink]="['/listRecipe']" class="try-btn">Try it now</a>
                  <p class="banner-des">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="web-social">
                <a href="" class="web-address">WWW.THECARROTCHEF.COM</a>
                <div class="social">
                  <ul class="social-ul">
                    <li class="social-li"><a href="" class="social-link"><span class="fab fa-twitter"></span></a></li>
                    <li class="social-li"><a href="" class="social-link"><span class="fab fa-facebook-f"></span></a></li>
                    <li class="social-li"><a href="" class="social-link"><span class="fab fa-instagram"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
