<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0B1MS5YK89"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0B1MS5YK89');
</script>
<body>
  <div class="background">
    <div class="body-wrapper">
      <div class="contant-wrapper">
        <div class="container">
          <div class="text-content">
            <h1 class="title">
              {{recipe.label}}
            </h1>
            <br>
            <p>Calories Per Serving:&nbsp;&nbsp;{{recipe.caloriesPerServings.toFixed(2)}}&nbsp;kcal</p>
            <p>Number of people per serving:&nbsp;&nbsp;{{recipe.servings}}</p>
            <p>Number of ingredients:&nbsp;&nbsp;{{numberOfIngredients}}</p>
            <p>Source:&nbsp;&nbsp;{{recipe.source}}</p>
            <p>Detail Cooking Instruction:&nbsp;&nbsp;<a href="{{recipe.url}}" target="_blank" class="try-btn">Link</a></p>
            <br>
            <button type="button" class="btn btn-danger" (click)="saveRecipe()">Save</button>
            <button type="button" class="btn btn-primary" (click)="back()">Back</button>
          </div>
          <div class="background">
            <div class="basic-grid">
              <div class="card" style="width: 14rem;" *ngFor="let ingredient of recipe.ingredients">
                <img src={{ingredient.imageUrl}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ingredient.food}}</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Measurement: </strong>{{ingredient.measure}}</li>
                    <li class="list-group-item"><strong>Quantity: </strong>{{ingredient.quantity}}</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <app-background></app-background>
        </div>
      </div>
    </div>



  </div>
</body>
</html>
