<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0B1MS5YK89"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0B1MS5YK89');
</script>
<body>
  <div class="background">
    <div class="body-wrapper">
      <div class="contant-wrapper">
        <div class="container" *ngIf="status != ''">
          <div class="text-content">
            <h1 class="title">
              Welcome {{userInfo.name}}
            </h1>
            <h2>Profile Page</h2>
            <p>Email: {{userInfo.email}}</p>
            <h2>Inventory List <span><button type="button" class="btn btn-primary" (click)="addInput()">Add</button></span></h2>
            <tr *ngIf="lineItemFormArray.value != 0 ||  listOfLineItem.length!= 0">
              <td>Item: </td>
              <td>Quantity: </td>
            </tr>

            <tr *ngFor="let item of listOfLineItem; let i=index">
              <td><input type="text" value="{{item.name}}" [(ngModel)]="item.name"></td>
              <td><input type="text" value="{{item.quantity}}" [(ngModel)]="item.quantity"></td>
              <button type="button" class="close" aria-label="Close" (click)="deleteLineItemList(i)">
                <span aria-hidden="true">&times;</span>
              </button>
            </tr>

            <form [formGroup]="form">
              <div>
                <tbody formArrayName="listOfItems">
                  <tr *ngFor="let item of lineItemFormArray.controls; let i=index" formGroupName="{{i}}">
                    <td><input type="text" formControlName="name"></td>
                    <td><input type="number" formControlName="quantity"></td>
                    <button type="button" class="close" aria-label="Close" (click)="deleteLineItem(i)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </tr>
                </tbody>
              </div>
              <div class="padding">
                <button type="button" class="btn btn-primary" (click)="signOut()">Sign Out</button>
                <button type="button" class="btn btn-danger" (click)="update()">Update</button>
              </div>
            </form>
            <div class="padding"></div>
            <div class="background">
              <div class="basic-grid">
                <div class="card" style="width: 18rem;" *ngFor="let recipe of recipesList">
                  <img src={{recipe.imageUrl}} class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title" style="color:black;">{{recipe.label}}</h5>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><strong>Calories: </strong>{{recipe.caloriesPerServings.toFixed(2)}} kcal</li>
                      <li class="list-group-item"><strong>Servings: </strong>{{recipe.servings}} pax</li>
                      <li class="list-group-item"><strong>Ingredients: </strong>{{recipe.ingredients.length}}</li>
                    </ul>
                    <a href="#" class="btn btn-primary" [routerLink]="['/recipesDetail']" (click)="tempRecipe(recipe)" [state]="{ data: 'profile'}">Details</a>
                    <button type="button" class="btn btn-danger"(click)="remove(recipe)">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container" *ngIf="status == ''">
          <div class="text-content">
            <h2>
              Please Login/Signup to view your profile
            </h2>
        </div>
      </div>
    </div>
    <app-background></app-background>
